@model System.Collections.Generic.List<Microsoft.AspNetCore.Identity.IdentityRole>

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div>
        <a href="/IdentityRole/Create">Add new</a>
    </div>
    <ul>
        @foreach (var role in Model)
        {
            <li>@role.Id - @role.Name <a href="/IdentityRole/Edit/@role.Id">Edit</a> - <a class="btn-delete" id="@role.Id">Delete</a></li>
        }
    </ul>
</div
    
</body>
</html>